@media (max-width: 767px) {

    .homepage {
        border-bottom: 1px solid var(--black5);
    }

    .homepage {
        background: var(--black);

        .go-BlockHeading {
            font-size: 16px !important;
        }


        .programFlexi {
            max-width: 100% !important;
            min-height: unset !important;
        }

        .btnBlack {
            padding: 12px 22px !important;
            font-size: 14px;

            svg {
                max-width: 19px;
            }
        }



        .campusPara {
            font-size: 12px !important;
        }

        .campusHeading {
            font-size: 13px !important;

        }

        .campusImage {
            max-width: 27px;
            max-height: 27px;
        }

        .campusDiviParent {
            gap: 10px !important;
        }

        .programImageParent {
            max-height: 146px !important;
        }

        .btnBlack,
        .deadlineParent {
            width: 100%;
        }

        .ourprogramWrap {
            gap: 16px !important;
            margin-top: 16px !important;
            overflow: auto;

            .programmeRightContent {
                min-width: unset;
                padding: 12px;
            }
        }


        .programmePara .programmeCardPara {
            display: block !important;
        }

    }

    .cautionWrapper {
        gap: 12px;
    }

    .seondtabs {
        padding: 10px !important;
    }


    .buildingSectionNew {
        padding: 0 !important;



        .buildingStickyWrapper {
            gap: 80px;
        }

        .buildingWatchWrapper>img {
            max-width: 42px;
            max-height: 42px;
        }

        .headingWrapper {
            flex-direction: column;
            gap: 12px;
            top: 44px;
            left: 24px;
            align-items: flex-start;
        }

        .logoSlider {
            width: 65% !important;
            border-radius: 60px;
        }

        .buildingPara {
            font-size: 14px;
        }

        .playBtnPara {
            font-size: 14px;
        }

        .masterPlay {
            left: 30%;
            top: 50%;
        }

        .buildingLogoWrapper {
            flex-direction: column;
            gap: 16px;
            bottom: 40px;
            left: 0;
            width: 100%;
            align-items: center;
            max-width: 100%;

        }

        .buildingWrapper {
            max-height: 600px;

            .btnWhite.btnMd {
                width: 90%;
            }
        }
    }
    
    .worldClassSection {
       .worldHeadingWrapper {
         flex-direction: column;
         gap: 18px;
         align-items: flex-start;
       }
     }
     
    .transformation {
        .masterRight {
            max-height: 225px;
        }

        /* .swiper-pagination{
            padding-top: 10px !important;
        } */
    }

    .dsaiMasters {
        /* Hide scrollbar for webkit browsers */
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */

        /* Hide scrollbar for webkit browsers */
        &::-webkit-scrollbar {
            display: none;
        }

        .newMasterBoxImg {
            min-width: 230px;
        }

        .newMasterImgBox>img {
            min-height: 192px;
        }

        .dsaiMastersMobile .container {
            padding-right: 0 !important;
        }
    }

    .programmeBreatherNew {
        padding: 40px 0 !important;

        .programmeBreatherWrapper {
            gap: 20px;
            flex-direction: column;
        }

        .programmeBreatherRight {
            padding: 16px;
        }

        .boxiUpper {
            margin-top: 16px;
            min-height: unset;
        }

        .buttonsParent {
            margin-top: 24px;
            gap: 8px;
            flex-direction: column !important;


            a,
            button {
                width: 100%;

                svg {
                    max-width: 20px;
                }
            }
        }

        .eligibilityBoxi {
            font-size: 10px;
        }

        .classText {
            font-size: 18px;
        }

        .classPara {
            font-size: 13px;
        }

        .firstBoxi {
            gap: 4px;
        }

    }

    .lateralSection {
        .lateralWrapper {
            flex-direction: column;
            gap: 32px;
            align-items: flex-end;
            justify-content: flex-end;
        }

        .lateralHeadingWrapper {
            flex-direction: column;
            gap: 12px;
            align-items: flex-start;
        }
    }

    .investmentSection {
        padding: 40px 0 !important;

        .investmentHeadingWrapper {
            top: 24px;
            left: 12px;
            text-align: unset;
            justify-content: unset;
            align-items: flex-start;
        }

        .investmentBtnWrapper {
            bottom: 24px;
            right: 12px;
            justify-content: flex-end;
        }
    }


    .footerNew {
        .footerUpper {
            flex-direction: column-reverse;
        }

        .footerUpperRight {
            flex-wrap: wrap;
            gap: 40px;
            border-bottom: 1px solid var(--black5);
            padding-bottom: 56px;
            margin-top: 20px;
            width: 95%;
        }

        .pages {
            flex-direction: row;
            width: 80%;
            justify-content: space-between;
        }

        .footerUpperLefti {
            flex-direction: column-reverse;
            margin-top: 32px;
            gap: 40px;

        }

        .footerInnovation {
            margin-top: 15px;
        }

        .footerMuLogo {
            margin-left: 6%;
        }

        .footerWrapper {
            gap: 30px;
        }

        .footerBelow {
            padding-top: 26px;
            flex-direction: column;
            gap: 30px;
        }

    }

    .enrollmentSectionNew {
        background: var(--black);

        .fourCards {
            display: flex !important;
            flex-direction: column;
            gap: 32px;
        }

        .onhoverOverlay .overlayNumber {
            margin-top: 0;
        }

        .gridCardBlack {
            display: none;
        }

        .threeCards {
            grid-template-columns: 1fr;
        }

        .gridCard {
            max-height: 100%;
        }

        .enrollOverlay {
            display: none;
        }

        .gridCard:hover {
            .lifeCardOverlay {
                opacity: unset;
                bottom: unset;
            }
        }


        .onhoverOverlay {
            opacity: 1 !important;
            gap: 12px;
            background: unset;
            bottom: 0 !important
        }

        .overlayMob {
            font-size: 13px;
        }

        .overlayText {
            font-size: 22px !important;
        }
    }

    .insightSectionNew {
        padding: 60px 0 !important;
        padding-bottom: 100px !important;

        .insightParaWrapper {
            gap: 8px;
        }

        .swiper-pagination {
            bottom: 54px !important;
            left: 0 !important;
            position: absolute !important;
            width: 100% !important;
        }

        .swiper-pagination-bullet {
            background: var(--grey3) !important;
            opacity: 1;
            transition: all 0.3s ease;
        }

        .swiper-pagination-bullet-active {
            width: 40px !important;
            background: var(--grey) !important;
        }

        .insightPara {
            font-size: 14px;
        }

        .insightWrapper {
            gap: 24px;
        }

        .facultyDetailsWrapper {
            gap: 12px;
        }

        .insightNames {
            font-size: 16px;
        }

        .inisghtItalic {
            font-size: 16px;
        }

        .aboutVideo {
            padding-top: 12px;
        }

        .insightBtnWrapperMob {
            align-self: flex-end;
        }
    }

    .fundSection {
        .fundHeadingWrapper {
            flex-direction: column;
            gap: 12px;
            left: 16px;
            width: 90%;
        }

        .fundPara {
            font-size: 14px;
        }

        .fundBtnWrapper {
            justify-content: flex-end;
            bottom: 44px;
            right: 16px;
        }
    }

    .indiaMapSection {
        padding-top: 32px !important;

        .indiaMapWrapper {
            padding: 40px 20px;
            gap: 40px;
        }

        .mapLefti {
            max-width: 100%;
            gap: 0;
        }

        .mapRight {
            max-width: 100%;
            scale: 0.9;
        }

        .mapCoreText {
            font-size: 18px;
        }

        .mapLeftBottom {
            gap: 28px;
        }

        .gradientMapNum {
            font-size: 34px;
        }
    }

    .mastersScrollMob {
        gap: 12px !important;
    }

    .impactScroll {
        padding: 40px 0 !important;
        padding-bottom: 60px !important;

        .impactLeft {
            width: 100%;
        }

        .masterPlay>img {
            backdrop-filter: blur(2px);
            border-radius: 60px;
        }

        .impactHeadingWrapper {
            padding-bottom: 32px;
        }


        .impactMobCard {
            display: flex;
            padding: 12px;
            background: var(--grey17);
            border: 1px solid var(--grey3);
            border-radius: 12px;
            flex-direction: column;
            gap: 24px;
            position: sticky;
            top: 8rem;
            min-height: 536px;
        }

        .impactMobCard:last-child {
            min-height: 535px;
        }

        .mobImpactImage {
            max-height: 212px;
            overflow: hidden !important;
        }

        .circleNumber {
            max-height: 30px !important;
        }

        .impactLeftBoxInner {
            gap: 60px;
            margin-top: 60px;
            margin-top: 32px !important;
        }

        .pointerPara {
            font-size: 13px !important;
        }

        .techPointerChild {
            align-items: center;
        }

        .impactLeftBox {
            position: relative;
            padding-left: 0 !important;
        }

        .impactLeftBox::after {
            scale: 0.8;
            left: -10px;
            display: none;
        }

        .impactLeftBoxInner::before {
            left: 10px;
            display: none;
        }

        .ulListWrapper {
            margin-top: 12px !important;

            .appliedPara {
                font-size: 14px;
            }

            .poweredDivi>img {
                max-width: 16px;
            }

            .techPointersParent {
                gap: 5px !important;
            }
        }

        .impactButton {
            padding: 6px 12px !important;
            font-size: 12px !important;
            line-height: unset !important;
            font-family: var(--go-regular);
        }

        .impactLeftBoxInner {
            gap: 40px;
        }

        .impactLeftUpper {
            display: flex;
            flex-direction: column;
            gap: 8px !important;
            align-items: flex-start;
        }

        .poweredDivi {
            gap: 12px !important;
        }

        .circleNumberMob {
            width: 100%;
            height: 100%;
            max-width: 24px;
            max-height: 24px;
            align-items: center;
            padding: 7px;
            border: 1px solid #525252;
            border-radius: 60px;
            color: var(--white);
            font-family: var(--go-regular);
            font-size: 11px;
            display: flex;
            justify-content: center;
        }

    }

    .weeklySection {
       .weeklyWrapper {
         gap: 24px;
       }

       .weeklyImageWrapper>img {
         min-width: 1310px;
       }

       .weeklyImageWrapper {
         overflow-x: scroll;
         overflow-y: hidden;
       }

       .weeklyImageWrapper::-webkit-scrollbar-thumb {
         display: block !important;
         background: #737373 !important;
       }
     }

    .podcastSection {
        .podcastWrapper {
            flex-direction: column-reverse;
            gap: 20px;
            background: unset;
            padding: 0;
        }

        .podcastRight,
        .podcastLeft {
            max-width: 100%;
        }

        .podcastLeft {
            background: var(--white);
            padding: 20px;
            border-radius: 10px;
            gap: 20px;
            justify-content: flex-end;
            align-items: flex-end;
        }

        .podcastHeadingWrapper {
            gap: 14px;
        }

        .whiteApplyButton {
            padding: 9px 14px;
            font-size: 14px;
        }

        .whiteApplyButton svg {
            max-width: 22px;
            max-height: 22px;
        }

    }

    .germanImmersion {
        .germanImmersionWrapper {
            flex-direction: column-reverse;
            gap: 12px;
        }

        .germanBtnWrapper {
            gap: 16px;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }

        .germanBreatherLeft,
        .masterRight {
            max-width: 100%;
        }

        .germanImageBoxi>img {
            min-height: unset;
        }

        .btnJapan {
            margin-top: 8px;
        }

        .customDropdownWrapper .btnBlack{
            justify-content: center;
        }

        .dropdownList{
            max-width: 100%;
        }

        .dropdownList li {
            padding: 10px 22px;
        }

        .germanBreatherLeft {
            padding: 20px;
            align-items: flex-start;
            gap: 16px;

            .btnBlack {
                width: 100%;
            }
        }

        .germanPara {
            font-size: 14px;
        }

        .btnBlack {
            width: 100%;
        }

        .germanflagsWrapper {
            gap: 12px;

            svg {
                max-height: 47px;
                max-width: 68px;
            }
        }

        .swiper-pagination {
            bottom: unset !important;
            margin-top: 8px;
            left: 42% !important;
        }

        .bottomBlackOverlay {
            display: none;
        }
    }

    .semesterCurriculum {
        padding-bottom: 15px !important;

        .modelBox {
            display: none;
        }


        .yearBelowRightHeading p:nth-child(2) {
            margin-top: 10px;
            font: 16px 'go-medium';
            line-height: 120%;
            color: var(--black);
        }

        .container.headWrapperSticky {
            flex-direction: column;
            gap: 12px;
            align-items: flex-start !important;
        }

        .yearBelowRight {
            padding: 20px 10px;
        }

        .yearBelowRightHeading {
            flex-direction: column;
            align-items: flex-start !important;
        }

        .aiToolsParent {
            flex-direction: column;
            gap: 18px;
        }

        .aiToolsRight {
            max-width: unset;
        }

        .yearBelowLeft {
            overflow: auto;
            max-width: 100%;
            gap: 0;
        }

        .headWrapper {
            position: unset;
        }

        .semWrapper {
            flex-flow: column;
        }

        .semesterTabsWrapper {
            /* margin-top: 20px; */
            overflow-x: auto;
            white-space: nowrap;
            scrollbar-width: none;
            /* Firefox */
            -webkit-overflow-scrolling: touch;

        }

        .semesterTabsWrapper::-webkit-scrollbar {
            display: none;
            /* Chrome, Safari */
        }

        .semesterTabs {
            display: flex;
            gap: 10px;
            min-width: max-content;
            overflow-x: auto;
            padding-block: 10px;
        }

        .tabContentWrapper {

            display: flex;
            gap: 20px;
            align-items: flex-start;
            overflow: auto;
        }

        .semesterTabs .mobTab {
            display: inline-block;
            padding: 5px 20px;
            /* margin-right: 8px; */
            border-radius: 20px;
            white-space: nowrap;
            cursor: pointer;
            background: #f1f1f1;
            border: 1px solid #090909;
        }

        .mobTab.active {

            background: var(--black);

            .mobTabSem {
                color: var(--white);
            }
        }

        .tabContent {
            display: block;
            min-width: 300px;
            padding-block: 22px;
            scroll-margin-top: 100px;
            /* adjust to your header height */


            .yearBelowRight {
                min-height: 590px;

            }
        }


        .flagParentDivi img {
            max-width: 23%;
        }

        .mobTabSem {
            font-family: '"Fraunces", serif';
            font-size: 14px;
            font-weight: 400;
            line-height: 120%;
            font-style: italic;
        }
    }

    .reachoutBreatherSection {
        .reachoutBreatherWrapper {
            flex-direction: column-reverse;
            gap: 20px;
            align-items: flex-start;
        }

        .reachoutLefti,
        .reachoutRight {
            max-width: 100%;
        }

        .reachoutLefti {
            padding: 20px;
            gap: 16px;
        }

        .go-BreatherHeading {
            padding-bottom: 16px;
        }

        .supportInfoWrapper {
            flex-direction: column;
            gap: 16px;
        }

        .supportDivi>img {
            max-width: 32px;
            max-height: 32px;
        }

        .supportcontentText,
        .supportBoxiText {
            font-size: 13px;
        }
    }

    .lifeAtMuSection {
        .lifeAtMuWrapper {
            gap: 24px;
        }

        .lifeMobWrapper>a {
            width: 100%;
        }

        .lifeCardsWrapper {
            flex-direction: column;
            gap: 24px;
            width: 100%;
        }

        .lifeMuCard {
            max-width: 100%;
        }

        .lifeMuCard .lifeCardHeadWrapper {
            display: none;
        }

        .lifeMuCard:hover {
            .lifeCardOverlay {
                opacity: unset;
                bottom: unset;
            }
        }

        .lifeCardOverlay {
            opacity: 1;
            top: 0;
        }

        .lifeMobWrapper {
            align-self: center;
            width: 100%;
        }
    }

    .theNewsSection {
        .newsHeadingWrapper {
            gap: 8px;
        }

        .newsCardsWrapper {
            padding-left: 16px;
        }

        .newsCard {
            min-width: 85%;
        }
    }

    .heroSection {
        padding-top: 55px !important;
        max-height: 90vh !important;
        overflow: hidden;

        .heroSectionContent {
            width: 100%;
        }

        .go-HeroSubtitle {
            margin-top: 8px;
        }

        .heroSectionBtnWrap {
            margin-top: 24px;
            width: 100%;
            align-items: flex-start;
            gap: 12px;
            flex-direction: column;


            a,
            button {
                width: 100%;
                line-height: 0 !important;
            }
        }

        .heroSectionContent {
            width: 100%;
            padding: 0 12px;
            transform: translate(-50%, -20%);
        }
    }

    .internshipSection {
        background: var(--black);
        padding-block: 20px !important;

        .container {
            padding: 0 8px !important;
        }

        .downloadMobBtn {
            width: 100%;

            .btnWhite {
                width: 100%;
            }

        }

        .internshipWrapper {
            padding: 40px 8px;

            a {
                width: 100%;
            }
        }

        .internshipCardWrapper {
            flex-direction: column;
            gap: 24px;
        }

        .internshipStudentUpperDivi {
            gap: 16px;
        }

        .studentCompanyWrapper {
            gap: 8px;
        }

        .internshipStudentBelow {
            margin-top: 16px;
        }

        .studentThoughtPara {
            padding-bottom: 16px;
            padding-top: 16px;
            min-height: 222px;
        }
    }

    .popUpCloseBtnWrap {
        position: absolute;
        right: -5px;
        z-index: 9;
        top: -30px;
    }

    .graduatePrestigiousSection {
        background: var(--black);
        padding: 60px 0 !important;
        border-top: 1px solid var(--black5);

        .graduatePrestigiousWrapper.graduateCurriculum {
            padding-top: 0 !important;
            border-radius: 0 !important;
            border-top: unset;
        }


        .degreeHeadingWrapper.mob-visible {
            padding: 8px;
        }

        .container {
            padding: 0 8px !important;
        }

        .degreeSectionParent {
            gap: 12px;
        }

        .remarkText {
            margin-left: 0;
            margin-top: 16px;
        }

        .graduatePrestigiousWrapper {
            padding: 0px 8px;
            position: sticky;
            gap: 24px;
            border-radius: 0;
            top: 6em;
        }

        .degreeHeadingWrapper {
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            display: flex;
            padding: 0 8px;
        }

        .graduatePrestigiousWrapper {
            padding-top: 24px !important;
            border-radius: 12px 12px 8px 8px !important;
            border-top: 1px solid var(--grey3);

        }

        .graduatePrestigiousWrapper:nth-child(2) {
            border-top: unset;
            padding-top: 0;
            border-radius: 0;
        }

        .degreePara {
            font-size: 14px;
        }

        .degreeListWrapper {
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
        }

        .graduatePrestigiousWrapper.graduateBelowSticky {
            margin-top: 32px;
        }

        .degreeGradientHeading {
            font: italic 20px / 1.2 "Fraunces", serif;
        }

        .degreeHeading {
            font: normal 18px / 1.2 var(--go-regular);
        }

        .listNumber {
            max-width: 18px;
            max-height: 18px;
            font-size: 12px;
            line-height: 0;
        }

        .yellowArrow {
            max-width: 13px;
            max-height: 13px;
        }

        .degreeList .degreePara {
            font-size: 13px;
        }
    }

    .parentPerspectiveSection {
        .parentPerspectiveWrapper {
            flex-direction: column;
            gap: 32px;
        }

        .perspectiveRight,
        .perspectiveLefti {
            max-width: 100%;
        }

        .bottomBlackOverlay {
            display: none;
        }

        .swiper-pagination {
            bottom: unset !important;
            margin-top: 12px;
            left: 42% !important;
        }

        .swiper-pagination-bullet {
            background: var(--grey10) !important;
            opacity: 1;
            transition: all 0.3s ease;
            border-radius: 10px;
        }

        .swiper-pagination-bullet-active {
            width: 40px !important;
            background: var(--grey10) !important;
            border-radius: 10px;
        }
    }

    .internshipSection.blackBackground {
        background: var(--black) !important;

        .internshipWrapper {
            padding: 40px 8px !important;
        }
    }

    .meritScholarship {

        .meritScholarshipTable .textGreyBold {
            font-family: 'go-medium';
            font-size: 14px;
        }

        .meritScholarshipTable td {
            font-size: 14px;

        }


        .meritScholarshipTable th:first-child {
            width: 320px;
        }

        .meritScholarWrapper {
            gap: 16px;
        }

        .meritHeading {
            font-size: 22px;
        }

        .meritUpperWrap {
            flex-direction: column;
        }

        .meritScholarLeft {
            max-width: 100%;
        }

        .meritScholarshipTable th {
            padding: 10px 20px;
        }

        .meritTableDivi {
            overflow-x: scroll;
        }

        .meritScholarshipTable {
            min-width: 700px;
        }

        .meritNoteBox {
            align-items: flex-start;
        }

        .meritNoteText {
            line-height: 150%;
        }
    }

    .financing {
        padding: 60px 0 !important;

        .financingHeadingWrap {
            max-width: 100%;
        }

        .financingSubHead {
            font-size: 14px;
        }

        .financingBelowWrap {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        .financeMenuMob {
            display: flex;
            max-width: 100%;
            padding-left: 16px;
            display: flex;
            align-items: center;
            overflow: auto;

        }

        .container {
            width: 100%;
        }

        .finMob {
            width: 100%;
            max-width: 100%;
        }

        .financeMenuList.active {
            border-top: 1px solid var(--grey4);
            border-left: 1px solid var(--grey4);
            border-right: 1px solid var(--grey4);
            border-radius: 4px 4px 0 0;
            border-bottom: unset;
        }

        .financeMenuList {
            min-width: 150px;
            padding: 18px 11px;
            max-height: 80px;
            background: var(--white4);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            transition: 0.3s all;


            img {
                min-height: 30px;
                max-height: 30px;
                overflow: hidden;
                text-align: center;
                align-self: center;
            }

        }

        .financeMenuList::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 3px;
            background-color: var(--grey4);
        }

        .financeMenuList.active::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 3px;
            background-color: var(--grey);

        }

        .financingBelowWrap .content-section {
            width: 100%;
        }

        .financeDetailBox {
            max-width: 100%;
            padding: 0;
        }

        .financeDetailWrapper {
            background: var(--white);
            border: 1px solid var(--white4);
            border-radius: 8px;
            padding: 16px 12px;
        }

        .financingWrapper {
            gap: 24px;
        }

        .financeDetailBox {
            border: unset;
            padding-block: 12px;
        }


        .finaceValue {
            font-size: 14px;
        }

        .financeBoxes {
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
        }

    }

    .admissionTrack {
        .container {
            padding: 0px 16px !important;
        }

        .admissionTrackWrapper {
            flex-direction: column-reverse;
            gap: 30px !important;
        }
    }

    .bluePrintNew {
        .flexbox {
            gap: 24px;
        }
    }

    .exploreCampus {
        .withoutArrowWhiteBgBtn {
            font-size: 13px;
            padding: 8px 12px;
        }

        .exploreCampusUpper {
            flex-direction: column;
            gap: 18px;
            align-items: flex-start;
        }

        .exploreCampusUpper {
            flex-direction: column;
            gap: 18px;
            align-items: flex-start;
        }

        .campusButtonDivi {
            gap: 8px;
        }
    }

    /* .curriculumOutclassDs {
        padding: 40px 0 !important;

        .curriculumOutclassWrapper {
            gap: 32px;
        }

        .dsBelowLeft{
            position: relative;
            top: unset;
        }

        .outdsHead {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 6px;
        }

        .outclasImgWrap p {
            font-size: 12px !important;
        }

        .curriculumDsUpper {
            gap: 16px;
            padding-block: 0;
            flex-direction: column;
            align-items: flex-start;
            position: unset;
        }

        .curriculumDsBelow {
            gap: 32px;
            flex-direction: column;
        }

        .dsBelowRight {
            max-width: 100%;
        }

        .curriculumDsBelow .faqHeading {
            font-size: 13px;
            line-height: 120%;
        }

        .greyParaOutclass {
            font-size: 12px;
        }
    } */

    .feeProcess {
        #growingDiv {
            left: 33px !important;
            top: 66px !important;
            width: 4.1px !important;
        }

        .feeProcessContainer .rightSection::before {
            left: 4.6% !important;
        }
    }

    .curriculumOutclassDs {
        padding: 40px 0 !important;

        .curriculumOutclassWrapper {
            gap: 40px;
        }

        .outdsHead {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 6px;
        }

        .outclasImgWrap p {
            font-size: 12px !important;
        }

        .curriculumDsUpper {
            gap: 16px;
            padding-block: 0;
            flex-direction: column;
            align-items: flex-start;
            position: unset;
        }

        .curriculumDsBelow {
            gap: 32px;
            flex-direction: column;
        }

        .dsBelowRight {
            max-width: 100%;
        }

        .content.active {
            flex-direction: column;
        }

        .dsBelowLeft {
            position: relative;
            top: unset;
        }


        .curriculumDsBelow .faqHeading {
            font-size: 13px;
            line-height: 120%;
        }

        .greyParaOutclass {
            font-size: 12px;
        }

        .finaceCareerTabs {
            width: 100%;
        }

        .financeTabUl {
            width: 100%;
        }

        .inclassTab {
            width: 100%;
            max-width: 500px;
            font-size: 12px;

            svg {
                width: 16px;
                height: 16px;
            }
        }
    }


    .dsCareer {
        .studiesRight {
            margin-top: 0 !important;
        }
    }

    .applicationTimeline {

        th:nth-child(2),
        td:nth-child(2) {
            width: unset;
        }

        th:nth-child(5),
        td:nth-child(5) {
            width: 10%;
        }

        th:first-child,
        td:first-child {
            width: 110px;
        }

        .table-scroll-wrapper {
            -webkit-overflow-scrolling: touch !important;
        }

        .table-scroll-wrapper::-webkit-scrollbar {
            height: 8px;
        }

        .table-scroll-wrapper::-webkit-scrollbar-track {
            background: #f5f5f5;
            border-radius: 4px;
        }

        .table-scroll-wrapper::-webkit-scrollbar-thumb {
            background: var(--grey18) !important;
            border-radius: 10px;
        }

        .table-scroll-wrapper::-webkit-scrollbar-thumb:hover {
            background: var(--grey3) !important;
        }

        .applicationDivi {
            overflow: auto;
        }

        .applicationDivi::-webkit-scrollbar-thumb {
            display: block;
        }

        .applicationTimelineTable {
            min-width: 1200px;
            margin-bottom: 10px;
        }

        .headingTable {
            padding: 12px 10px;
        }

        .timelineRow {
            padding: 8px 10px;
        }
    }

    .feeProcess {
        .feeProcessContainer .feeBox .body {
            padding: 16px 12px !important;
        }

        .feeSectionMOb {
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: flex-start;
        }

        .detailsList .subHeading {
            font-size: 18px;
        }

        .detailsList .list li {
            font-size: 13px;
        }

        .curriculumHead {
            font-size: 13px;
        }
    }

    .feeStructureSection {
        .feeStructureParent {
            overflow-x: scroll;
        }

        .feeStructureParent::-webkit-scrollbar-thumb {
            display: block;
            background: var(--grey3);
        }

        .feeStructureWrapper {
            flex-direction: column;
            gap: 60px;
        }


        .feeStructureLeft,
        .feeStructureRight {
            max-width: 100%;
        }

        .feeDivider {
            display: none;
        }

        .feeStructureTable {
            min-width: 670px;
        }

        .feeStructureRight .feeStructureTable {
            min-width: 450px;
        }
    }

    .classRoom {
        .withoutArrowWhiteBgBtn {
            font-size: 13px;
            padding: 8px 14px;
        }

        .largeTech {
            width: 100%;
            max-width: 100%;
        }

        .campusButtonDivi {
            width: 100%;
            max-width: 100%;
        }

        .classRoomUpper {
            padding-left: 16px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
        }

        .classRoomWrapper {
            margin-top: 32px;
        }
    }

    .classprofile {


        .customDropdownWrapper {
            position: relative;
            width: 100%;
        }

        .lineSpace {
            margin-top: 5px;
        }

        .dropdownList {
            width: 100%;
            border: 1px solid #ccc;
            z-index: 999;
            box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.05);
        }


        .dropdownList li {
            cursor: pointer;
            padding-block: 14px;
        }

        .dropdownList li:active {
            background-color: var(--grey4);
        }

        .btnMobileDrop {
            display: flex;
            align-items: center;
            width: 100%;
            position: relative;
        }

        .custom-select {
            appearance: none;
            /* Standard */
            -webkit-appearance: none;
            /* Safari/Chrome */
            -moz-appearance: none;
            /* Firefox */
            background-image: none;
            /* Remove any default bg icon */
            text-align: center;
        }

        .customDropdownWrapper .btnBlack {
            width: 70%;
            align-items: flex-start;
            justify-content: space-between;
        }



        .content-section .flexbox {
            align-items: center !important;
        }

        .greybox {
            padding: 40px 20px !important;
        }

    }

    .industryReady {
        .box .flexbox {
            align-items: center;
        }



        .futureGroup>img {
            max-width: 42px;
            max-height: 42px;
        }

        .futureGroup .txtgroup h6 {
            font-size: 20px;
        }

        .futureGroup {
            gap: 8px;
        }
    }

    .higherStudies {

        .tabimgages {
            height: 100%;

            img {
                height: auto;

            }
        }

        .companyWrapperNew {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 0;

            .companiesLogoDivi {
                max-height: 80px;
                max-width: 182px;
            }
        }

        .jobCardLeft {
            max-width: 142px;
        }

        .divrow {
            display: flex;
            gap: 8px;

            .companiesLogoDivi {
                min-width: 35%;
            }
        }

        .divrowWrap {
            display: flex;
            flex-direction: column;
            gap: 8px;
            overflow: auto;
            padding-left: 16px;
        }

        .higherStudiesLeft {
            width: 100%;
            max-width: 100%;
            margin-bottom: 0;
            margin-top: -2px;
            z-index: 1;
        }

        .techCareerTabs {
            border-bottom: unset;
        }

        .techUpperHighlightLeft {
            flex-wrap: wrap !important;
            row-gap: 8px;
        }

        .careerTabUl {
            padding-left: 16px;
            gap: 0;
            overflow: auto;
        }

        .higherStudiesLeft>img {
            min-height: unset;
        }

        .higherStudiesWrapper {
            flex-direction: column !important;

        }

        .higherStudiesLeft.masterImage {
            border-radius: 0;

        }

        .higherStudyContent>svg {
            max-width: 46px;
            max-height: 46px;
        }

        .careerTabUl li {
            border-bottom: 1px solid var(--grey18);
        }

        .masterImage>img {
            border-radius: 0;
        }

        .companiesLogoDivi {
            max-height: unset;
        }

        .techUpperHighlightLeft .companiesLogoDivi {
            max-width: 140px !important;
        }

        .bottomCareerContent {
            overflow: auto !important;
            justify-content: flex-start;
            flex-wrap: nowrap !important;
        }
    }

    .concentrationNew {
        .coreWrapper .box {
            width: 100% !important;
        }
    }

    .aiPackedNew {
        padding: 60px 0 !important;

        .aiPackedWrapper {
            gap: 40px !important;
        }

        .aiPackedLeft {
            padding: 0 !important;
        }

        .aiScrollWrapper {
            overflow: hidden;
            width: 100%;
            position: relative;
        }

        .aiScrollContent {
            display: flex;
            width: max-content;
            animation: aiInfiniteScroll 30s linear infinite;
            gap: 10px;
            /* Adjust spacing as needed */
        }

        .aiPackedBoxi {
            max-width: fit-content !important;
            min-width: fit-content !important;
        }
    }
}

@keyframes aiInfiniteScroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (min-width: 320px) and (max-width: 360px) {

    html {
        zoom: 90%;
    }

    .feeProcess {
        #growingDiv {
            left: 34px !important;
            top: 66px !important;
            width: 4.1px !important;
        }
    }


    @media (min-width: 1920px) {
        .exploreCampus {
            height: 90vh;
        }
    }
}